<!--<div style="text-align:center">
        <h1>{{ title }}</h1>
        <button (click)="onClick()" class="btn btn-primary">Click Me</button>
      </div>

-->
 
<div id="magazine" style="width:1152px;height:752px;">
        <div style="background-image:url(assets/images/pages/01.jpg);"></div>
        <div style="background-image:url(assets/images/pages/02.jpg);"></div>
        <div style="background-image:url(assets/images/pages/03.jpg);"></div>
        <div style="background-image:url(assets/images/pages/04.jpg);"></div>
        <div style="background-image:url(assets/images/pages/05.jpg);"></div>
        <div style="background-image:url(assets/images/pages/06.jpg);"></div>
</div>     